@import '../../scss/variable.scss';

.place-order{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .checkout-info{
        color:$light;
        margin-top: 12px;
        width: 45%;
        margin-right: 40px;
        h6{
            font-size: 15px;
            margin-bottom: 0;

        }
        .header{
            h3{
                font-size: 22px;
                font-weight: 500;
                color: $black;
                margin-bottom: 15px;
            }
        }
        .input{
            .grid-item{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                column-gap: 10px;
                // margin-right: 10px;
                // .input-block{
                //     margin-right: 10px;
                // }
            }
            .ship-info{
                h6{
                    margin-top: 10px;
                }
                .info-flex1{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    column-gap: 10px;
                }
                .info-flex2{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    column-gap: 10px;
                }
            }
        }
        
    }
    .cart-overview{
        width: 45%;
        padding: 10px;
        background-color: $pal-ash;
        .card{
            background-color: $white;
            color:$black;
        }
        h3{
            font-size: 22px;
            font-weight: 500;
            color: $black;
        }
    }

    .payment{
        margin: 20px 0;

        .button{
            width: 100%;
            margin: 15px 0;
        }
    }
}

.summary {
    padding: 12px;
    margin-top: 30px;
    background-color: $white;

    .header {
        font-size: 15px;
        letter-spacing: .5px;
        margin-bottom: 16px;
    }

    h3 {
        color: $pal-green !important;
        letter-spacing: .5px;
        margin-bottom: 16px;
    }

    h6 {
        font-size: 16px;
        letter-spacing: .5px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 0px;
        // font-weight: 300;
    }

    .pal-green {
        color: $pal-green;
        margin-left: 10px;
        font-weight: 300;
    }

}

.cart-two{
    .summary{
        margin-top: -10px;
    }
}

@media only screen and (max-width: 767px){
    .place-order{
        flex-direction: column;
        .checkout-info{
            width: 100%;
        }
        .cart-overview {
            width: 100%;
        }
    }

}