
.main-container{
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin:auto;
}
.add-user-form-container {
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .back-button {
    background-color: #E9ECEF;
    border: 1px solid #b9bec4;
    border-radius: 3px;
    padding: 8px 14px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 40px;
    width: 87px;
    color: #495057;
    transition: background-color 0.2s;

    .icon{
        color:#000;
        font-weight: 900;
         font-size: 14px; 
         margin-right: 5px;
    }
  }
  
  .back-button:hover {
    background-color: #e8e8e8;
  }
  
  .form-title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: left;
    color: #212529;
  }
  
  .add-user-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .form-group + .form-group {
    margin-left: 20px;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: #1C1C1C;
    margin-bottom: 8px;
  }
  
  input,
  select {
    padding: 9px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fafafa;
    color: #333;
  }
  
  input:focus,
  select:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
  }
  
  .create-user-button {
    width: 100%;
    padding: 9px 25px;
    font-size: 16px;
    background-color: #0F0F0F;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .create-user-button:hover {
    background-color: #333;
    transform: scale(1.02);
  }
.c-container{
    margin:30px;
}  

.success-message-container {
    max-width: 1400px;
    margin: 5px auto;
    padding: 20px;
    padding-top:10px;
    background-color: #ffffff;
    // border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px #00000033,
     0px 0px 1px 0px #00000020;

    text-align: center;
  }
  
  
  
  .success-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .success-icon {
    font-size: 60px;
    color: #28a745;
    margin-bottom: 15px;
    img{
        width: 100px;
    }
  }
  
  .success-title {
    font-size: 20px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 8px;
  }
  
  .user-name {
    font-size: 32px;
    font-weight: 600;
    color: #212529;
    margin-bottom: 10px;
  }
  
  .view-button {
    background-color: #0F0F0F;
    
    border: none;
    border-radius: 6px;
    padding: 10px ;
    width: 312px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  
    a{
      color: #fff;
    }
    &:hover {
      background-color: #333;
      transform: scale(1.02);
    }
  }
  

  @media screen and (max-width: 700px){
    .form-row{
      flex-direction: column;
    }
    .form-group + .form-group {
      margin-left: 0px;
    }
    .view-button {
      max-width: 250px;
    }
  }