@import '../../scss/variable.scss';
@import '../../scss/global.scss';

.auth-layout{
    margin: 50px auto;
    width: 350px;
    padding: 10px;
    // box-shadow: 1px 1px 1px gray,
    //  -1px 1px gray;
    .login-btn {
        margin-top: 10px;
        height: 40px;
        background-color: #0A58CA;
        border: none;
        color: white;
    }
    .login-btn[type="submit"]{
        width: 100%;
    }
    .social{
        margin-top: 5px;
       .google{
            font-size: 20px;
        }
        button:first-child{
            margin-right: 12px;
        }
        
    }
    a{
        margin-top: 12px;
        color: #0A58CA;
    }
    a:hover{
        color: #0A58CA;
    }
    .slow_animation{
        animation: slideBlock 50ms;
    }
    .btn-disabled {
        cursor: no-drop;
    }
}