@import '../../scss/variable.scss';

.auth-layout{
    margin: 50px auto;
    width: 350px;
    padding: 10px;
    .login-btn {
        margin-top: 10px;
        height: 40px;
    }
    .login-btn[type="submit"]{
        width: 100%;
    }
    .social{
        margin-top: 5px;
       .google{
            font-size: 20px;
        }
        button:first-child{
            margin-right: 12px;
        }
    }
    a{
        margin-top: 12px;
        color: $pal-green;
    }
    a:hover{
        color: $pal-green;
    }

}