@import '../../../scss/variable.scss';
@import '../../../scss/global.scss';

.aside_bar{
    .lang_theme{
        display: flex;
        padding: 0px 5px;
        border-bottom: 1px solid $skyblue;
        padding-bottom: 10px;
        .lang{
            position: relative;
            background-color: $lightRed;
            border-radius: 10px;
            color:$light;
            font-weight: 500;
            padding:0 5px;
            margin-right: 7px;
            .lang{
                display: none;
                margin-left: 0px;
                list-style-type: none;
                z-index: 1;
            }
        }
        .lang:hover{
            .lang{
                display: block;
                color:$light;
                padding:10px 15px;
                background-color: $pal-ash;
                border-radius: 0px;
                position: absolute;
            }
        }
        .lang:last-child{
            margin-right: 0px;
        }
    }

    .main{
        .aside_main{
            .circles{
                padding: 0 5px;
                margin-bottom: 1px solid $skyblue;
                display: flex;
                flex-wrap: wrap;
                div{
                    transition: .2s;
                    margin-top:10px;
                    width:60px;
                    color: $white;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-weight: 500;
                    margin-right: 4px;
                    border: 3px solid $skyblue;
                    cursor: pointer;
                    // background-color: $pal-green;
                    // box-shadow: 1px 1px 3px $skyblue;
                }
                // div:first-child{
                //     background-color: $pal-green;
                // }
                // div:nth-child(2){
                //     background-color: $pal-ash;
                // }
                // div:last-child{
                //     background-color: $lightRed;
                // }
                div:hover, .active{
                    color:$light;
                    border: 3px solid $skyblue;
                    // width:62px;
                    // height: 62px;
                    // box-shadow: 1px 1px 3px $lightRed;
                    // inset 1px 1px 1px $lightRed
                    background-color: $lightRed;
                }
            }
            .sub_cat{
                padding: 5px;
                background-color: $pal-ash;
                
                
                p{
                    margin: 10px 0 5px 10px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    // color: $lightRed;
                }
                .arrow_down{
                    font-size: 20px;
                    margin-left: 5px;
                }
                ul{
                    animation: slideBlock 200ms;
                    opacity: 1;
                    font-weight: 400;
                    list-style-type: none;
                    margin-left: 0px;
                    padding-left: 10px;
                    li{
                        padding-left: 8px;
                        border-radius: 10px;
                        // background-color: $pal-ash;
                        // border:1px solid $skyblue;
                        margin:5px 0;
                    }
                    li:hover{
                        background-color: $pal-green;
                        color: $white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


@media only screen  and (max-width: 767px) {
    .aside_bar{
        .main{
            .aside_main{
                .circles{
                    // justify-content: center;
                }
            }
            .sub_cat{
                ul{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    column-gap: 10px;
                }
            }
        }
    }
}

// @media only screen and (max-width: 767px)  {
//     .aside_bar {
//         .main {
//             .aside_main {

//             }
//         }
//     }
// }