.defaultDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

.loader {
    position: fixed;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    height: 50px;
    z-index: 1026;
}

.overlayed {
    background-color: #EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1026;
    top: 0;
    left: 0;
    opacity: 0.8;
    /* in FireFox */
    filter: alpha(opacity=50);
    /* in IE */
}


.loadinglogoct {
    //border-radius: 50%;
    //border: 3px solid #013a6d;
    //border-left-color: transparent;
    width: 50px;
    position: fixed;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    height: 50px;
    z-index: 1026;
}

.dotted {
    border-style: dotted;
}

.rotate {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    border: 3px dotted #0288d1;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: block;
    margin: 1em;
    float: left;
}
@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}