@import "../../scss/variable.scss";

.cart {
    cursor: pointer;
    position: relative;
    display: inline-block;
    svg {
        font-size: 20px;
        color: $lightRed;
    }
    .num {
        position: absolute;
        top: -16px;
        left: -16px;
        background-color: $lightRed;
        width: 22px;
        height: 22px;
        text-align: center;
        border-radius: 50%;
    }
}
