@import '../../../scss/variable.scss';
@import '../../../scss/global.scss';


.Navbar{
    background-color: $pal-green;
    animation: slideBlock 200ms;
};
.topbar{
    background-color: $pal-ash;
    color:$black;

    .top-Navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .exclusive{
                .electric{
                    color: $pal-green;
                    margin-right: 5px;
                    font-size: 20px;
                }
                p{
                    margin-bottom: 0px;
                    font-weight: bold;
                    padding: 2px 0px;
                    img{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                    }
                }
            }
            .menues {
                ul {
                    display: flex;
                    list-style-type: none;
                    margin-bottom: 0px;
                    cursor: pointer;
    
                    li {
                        padding: 7px 12px;
                        font-size: 14px;
                        a{
                            color:$black;
                            text-decoration: none;
                        }
                    }
                    .bulk{
                        span{
                            margin-right: 5px;
                            // color:$

                        }
                        // background-color: $pal-green;
                        // color: white;
                        a{
                            text-decoration: none;
                            color: $black;
                        }
                    }
                    .mt_1{
                        margin-top: 3px;
                    }
                    .mr_4{
                        margin-right: 4px;
                    }
                    .language{
                        position: relative;
                        .lang{
                            display: none;
                        }
                    }
                    .language:hover{
                        .lang{
                            background-color: $white;
                            position: absolute;
                            display: block;
                            z-index: 1;
                            li{
                                padding-left: 0;
                                
                            }
                        }
                    }
                }
            }
        }
}

.logobar {
    display: flex;
    color: $black;
    padding:5px 0;
    align-items: center;

    .logo {
        // background-color: black;
        display: flex;
        min-width: 35%;
        a{
            display: flex;
            align-items: center;
            text-decoration: none !important;
        }
        img {
            display: block;
            max-width: 50px;
        }
        .Custom{
            font-size: 25px;
            font-weight: 600;
            // @include textgradient($lightRed,$red);
            margin-bottom: 0px;
            margin-left:5px;
            line-height: 1;
            color: $white;
            // border-right: 1px solid rgba(0, 0, 0, 0.158);
        }
    }
    .right_bar{
        display: flex;
        justify-content: space-between;
        width: 65%;
        align-items: center;

        
        .shop{
            // border-left: 1px solid rgba(0, 0, 0, 0.123);
            cursor: pointer;
            display: flex;
            align-items: center;
            a{
                margin-right: 18px;
            }
            a:last-child{
                margin-right: 0px;
            }
            .shop_p{
                font-weight: 600;
                color: $white;
                display: inline-block;
                margin-bottom: 0;
                border-bottom: 2px solid transparent;
                transition: 0.3s;
            }
            
            .active{
                // background-color: $lightRed;
                margin-bottom: 0px;
                // padding:0px 10px;
                // border-radius: 20px;
                color:$white;
                max-height: 30px;
                border-bottom: 2px solid white;
                // animation: slideBlock 200ms;
                transition: border .3s;
            }
        }
        // .shop:last-child{
        //     margin-right: 0px;
        // }
        .list{
            cursor: pointer;
            display: flex;
            list-style-type: none;
            margin-bottom: 0px;
            align-items: center;

            li{
                color:$white;
                margin:0px 7px;
                .icon{
                    margin-right:4px;
                    color:$white;
                    // opacity: 0.9;
                }
                a{
                    text-decoration: none;
                    color:$white;
                }
            }
            .user{
                font-size: 30px;
                img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }

                
            }
            
        }
        .bar{
            transition: .5s;
            display: none;
            font-size: 25px;
            color:$white;
            margin-bottom: 0px;
        }
    }

    
}

.canvas {
    // font-weight: bold;
    padding-left: 5px;
    cursor: pointer;
    a{
        text-decoration: none;
    }
    .shop {
        .shop_p {
            font-weight: bold;
            color: $black;
            padding: 10px 0px;
            margin-bottom: 0px;
            border-bottom: 1px solid $pal-ash;
        }
        .shop_p:hover{
            background-color: $pal-ash;
        }

        .active,.shop_p:hover {
            // background-color: $pal-ash;
            border-radius: 4px;
            max-height: 50px;
            color:$light;
        }
    }
    .exclusive{
        padding:  0;
        p{
            border-bottom: 1px solid $pal-ash;
            padding: 10px;
            margin: 0;
            .icon {
                color: $pal-green;
                margin-right: 5px;
                        
            }
            a{
                text-decoration: none;
                // color: $lightRed;
                color: $black;
            }

            &:hover{
                background-color: $pal-ash;
            }
        }
    }
}

.pop-over {
    font-size: 13px;
    color: $black;
    // padding: 5px;
    p{
        margin: 0;
    }
}
@media only screen and (max-width: 900px) and (min-width: 650px) {
    .topbar{
        .top-Navbar {
            justify-content: center;
            
            .exclusive {
                display: none;
            }
        }
    }
    .logobar{
        justify-content: space-between;
        .right_bar{
            width: auto;
            // .shop {
            //         display: none;
            //     }
            
                .list {
                    .text{display: none;}
                }
            
                // .bar {
                //     display: block;
                // }
        }
    }
    
}
@media only screen and (max-width: 650px) {
    .topbar{
        .top-Navbar {
            justify-content: center;
    
            .exclusive {
                display: none;
            }
    
            .help {
                display: none;
            }
        }
    }
    .logobar {
        justify-content: space-between;
        .logo{
            img{
                width:40px;
            }
            .Custom{
                font-size: 20px;
                color:$white;
            }
        }
        .right_bar{
            width:auto;
            .shop {
                display: none;
            }
        
            .list {
                display: none;
            }
        
            .bar {
                display: block;
            }
        }
    }
    
}