.main-cont{
  box-shadow: 0px 1px 3px 0px #00000033,
        0px 0px 1px 0px #00000020;

}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:15px;
    // row-gap: 15px;
    
     .total-sample-card {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 2px;
        padding: 8px 16px;
        box-shadow: 0px 1px 3px 0px #00000027,
        0px 0px 1px 0px #0000001a;
        // max-width: 300px;
        margin-right: 12%;
      
        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 62px;
          height: 62px;
        //   background-color: #f3f4ff;
          border-radius: 2px;
          margin-right: 12px;
      
          img {
            width: 34px;
            height: 34px;
          }
        }
      
        .details {
          display: flex;
          flex-direction: column;
      
          .title {
            font-size: 14px;
            color: #888888;
            margin-bottom: 4px;
          }
      
          .count {
            font-size: 18px;
            font-weight: 600;
            color: #000000;
          }
        }
      }

      
      
}
.search-filter-bar {
    margin:15px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 16px 0;
  
    .label {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 8px;
      color: #212529;
    }
  
    .search-section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  
      .search-input-wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 2px;
        // background-color: #f9f9f9;
        padding: 0 12px;
        transition: border-color 0.3s;
  
        input {
          flex: 1;
          border: none;
          padding: 12px 12px;
          font-size: 14px;
          color: #666;
          background: transparent;
          outline: none;
  
          &::placeholder {
            color: #aaa;
          }
        }
  
        button {
          border: none;
          background: transparent;
          cursor: pointer;
        //   padding: 8px;
            height: 52px;
            width:52px;
            position: relative;
            right: -12px;
          background-color: #F8F9FA;
          border: 1px solid #E6E6E6;
          .search-icon {
            font-size: 18px;
            font-weight: 700;
            color: #444444;
            
          }
        }
  
        &:focus-within {
          border-color: #007bff;
        }
      }
    }
  
    .status-section,
    .date-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .relative{
        position: relative;
        .icon{
          position: absolute;
          top: 10px;
          font-size: 12px;
          color:#666;
          right: 8px;
        }
      }
      .dropdown {
        width: 240px;
        padding: 16px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fff;
        color: #555;
        outline: none;
        transition: border-color 0.3s;
        appearance:none;
        
  
        &:focus {
          border-color: #007bff;
        }
        
          
      }
  
      .date-range-button-wrapper {
        position: relative;
        width: 240px;

        .icon{
          position: absolute;
          top: 10px;
          font-size: 16px;
          color:#555;
          right: 8px;
        }
  
        .date-range-button {
          width: 100%;
          padding: 16px;
          font-size: 14px;
          border: 1px solid #ddd;
          border-radius: 4px;
          background-color: #fff;
          color: #555;
          outline: none;
          text-align: left;
          cursor: pointer;
          transition: border-color 0.3s;
  
          &::placeholder {
            color: #aaa;
          }
  
          &:focus {
            ~.icon{
              display: hidden;
            }
            border-color: #007bff;
          }
        }
      }
    }
  
    .export-button {
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 600;
      color: #495057;
      margin-top: 35px;
      background-color: #CED4DA;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;
  
      &:hover {
        background-color: #e0e0e0;
        transform: scale(1.02);
      }
    }
  }


  .table-container {
    // padding: 16px;
    // background-color: #f9f9f9;
    border-radius: 8px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .data-table {
      border-collapse: collapse;
      background-color: #fff;
      border-radius: 8px;
      // overflow: hidden
      width: 100%;
      // overflow-x: auto;
  
      thead {
        // background-color: #f4f4f4;
  
        tr {
          th {
            text-align: left;
            padding: 12px;
            font-size: 16px;
            font-weight: 600;
            color: #1C1C1C;
            border-bottom: 2px solid #ddd;
  
            &:first-child {
              input{
                width: 16px;
                height: 16px;
              }
              text-align: center;
            }
          }
        }
      }
  
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #F2F2F2;
          }
  
          &:hover {
            background-color: #f1f1f1;
          }
  
          td {
            padding: 12px;
            font-size: 16px;
            color: #353535;
            border-bottom: 1px solid #ddd;
  
            &:first-child {
              text-align: center;
            }
  
            input[type='checkbox'] {
              width: 16px;
              height: 16px;
              cursor: pointer;
            }
          }
        }
      }
    }
  
    .pagination {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      span {
        font-size: 16px;
        color: #1C1C1C;
        margin-left: 24px;
      }
  
      div {
        padding: 10px ;
        button {
          padding: 6px 12px;
          font-size: 16px;
          border: 1px solid #ddd;
          background-color: #fff;
          color: #6C757D;
          cursor: pointer;
          margin: 0 0px;
          border-radius: 2px;
          transition: all 0.3s ease;
  
          &:hover {
            background-color: #e9e9e9;
          }
  
          &.active {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
          }
        }
      }
    }
  }
  
  
.bluish{
    background:#EDEBFF;
}
.yellowish{
    background:#FFFCE5;
}
.greenish{
    background:#EAFBF6;
}
.greenish2{
    background:#F6FFE5;
}
.redish{
    background:#FFEFE6;
}
.ash{
    background:#F5F4EF;
}
.ash2{
    background-color: #F1EEF7;
}
.card-container-2{
    grid-template-columns: repeat(4,1fr);
}

.tab-cont{
  max-width: 100%;
  overflow-x: auto;
}
.teams-table{
  // width:640px;
  min-width: 640px;
  width: 100%;
  overflow-x: scroll;
}
.create-sample{
    
    .button{
        border:none;
        outline:none;
        background-color: #0F0F0F;
        border-radius: 4px;
        width:232px;
        height: 48px;
        margin-top:35px;
        margin-right: 15px;
        color:white;
    }
}
.w-50{
    width:50%;
}
.w-100{
    width:100%;
}
.tab-cont2{
  max-width: 100%;
  overflow-x: auto;
}
.table-container2{
  min-width: 750px;
}
.tab-cont3{
  max-width: 100%;
  overflow-x: auto;
}
.table-container3{
  min-width: 850px;
}


@media screen and (max-width: 1300px){
  .search-filter-bar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px){
  .search-filter-bar{
    flex-direction: column;
    .date-range-button-wrapper,.date-section,.w-50,.search-section,.status-section{
      width:100% !important;
      span{
        width: 100%;
      }
      select{
        width: 100% !important;
      }
    }
  }
}
@media screen and (max-width: 800px){
  .card-container, .card-container-2{
    grid-template-columns: repeat(2,1fr);
    .total-sample-card{
      margin-bottom:15px;
    }

  }
}

@media screen and (max-width: 500px){
  .card-container, .card-container-2{
    grid-template-columns: repeat(1,1fr);
    margin: auto;
    .total-sample-card{
      margin-right: 0;
      margin-bottom:15px;
    }
  }
  .search-filter-bar{
    flex-direction: column;
    .date-range-button-wrapper,.date-section,.w-50,.search-section,.status-section{
      width:100% !important;
      select{
        width:100%;
      }
    }
  }
}