.skeleton {
    width: 100%;
    height: 100%;

    .ske_card {
        width: 100%;
        height: 100%;
        background-color: white;

        .search-result-container {
            display: block !important;
        }
        .react-loading-skeleton{
             z-index: 0;
        }
    }

    // .ske_card_50{

    // }
}