.skeleton {
    width: 100%;
    height: 100%;

    .ske_card {
        width: 100%;
        height: 100%;
        background-color: white;

        .search-result-container {
            display: block !important;
        }
        .react-loading-skeleton{
             z-index: 0;
        }
    }

    // .ske_card_50{

    // }
}

.cat_skeleton{
    display: flex;
    width: 100%;
    .placeholder-glow{
        margin:5px;
        width: 60px;

        .placeholder {
            height: 60px;
            border-radius: 30px;
            background-color:#EEE;
            opacity: 1;
        }
    }
}

.sub-cat-skeleton{
    .placeholder-glow{
        margin: 10px 5px;
        .placeholder{
            height: 20px;
            border-radius: 15px;
            background-color: #EEE;
            opacity: 1;
        }
    }
}