@import "../../../scss/global.scss";
@import "../../../scss/variable.scss";

.footer {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 2rem 1rem;
  
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      text-align: center;
  
      @media (min-width: 768px) {
        text-align: left;
      }
    }
  
    &__section {
      flex: 1 1 250px;
  
      h3,
      h4 {
        margin-bottom: 1rem;
        color: #f39c12;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin: 0.5rem 0;
  
          a {
            color: #ffffff;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
  
      p {
        margin: 0.5rem 0;
      }
    }
  
    &__bottom {
      margin-top: 2rem;
      border-top: 1px solid #ffffff33;
      padding-top: 1rem;
      text-align: center;
  
      p {
        margin: 0.5rem 0;
      }
  
      &__socials {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        margin: 0;
  
        li {
          a {
            color: #ffffff;
            font-size: 1.5rem;
            text-decoration: none;
  
            &:hover {
              color: #f39c12;
            }
          }
        }
      }
    }
  }
  