@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.tab-container{
    font-family: "Source Sans 3", serif !important;
    max-width: 1400px;
    margin: 0 30px;

    .container-card{
        box-shadow: 0px 1px 3px 0px #00000033,
        0px 0px 1px 0px #00000020;

        .tab-header{
            display: flex;
            // border-bottom: 1px solid #DEE2E6;
            // position: relative;
            
            p{
                padding:10px 5px;
                margin-right:10px;
                position: relative;
                top: 0px;
                color:#007BFF;
                background-color: white;
                border-top: 2px solid #fff;
                border-left: 1px solid #fff;
                cursor: pointer;
                border-right: 1px solid #fff;
            }
            .active{
                z-index: 10;
                // transition: .5s border;
                border-radius: 3px;
                color:#495057;
                border-top: 2px solid #007BFF;
                border-left: 1px solid #DEE2E6;
                border-right: 1px solid #DEE2E6;
            }
        }
        .hr{
            display: block;
            margin-top: -20px;
        }
    }
}

