@import '../../../scss/variable.scss';
@import '../../../scss/global.scss';


.custom_card{
    transition: box-shadow .2s;
    // background-color: $pal-ash;
    border-radius: 3px;
    .card_body{
        height: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        cursor: pointer;
        figure{
            position: relative;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            text-align: center;
            height: 200px;
            max-width: 200px;
            overflow: hidden;
            .discount{
                position: absolute;
                left:0px;
                top:0px;
                border-radius: 2px;
                background-color: $lightRed;
                padding: 2px;
                z-index: 10;
                p{
                    margin: 0;
                    padding: 0;
                    color: $light;
                    font-size: 13px;
                    font-weight: bold;
                }
            }
            .wish{
                position: absolute;
                right: 0;
                top: 0;
                color: $lightRed;
                // background-color: $light;
                padding: 3px 2px;
                border-radius: 2px;
                font-size: 22px;
                display: none;
            }
            
            img{
                animation: slideBlock 200ms;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .data{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            color:$light;
            p{
                margin: 0;
                font-size: 14px;
                text-align: center;
            }
            .title{
                color:$light;
                text-align: center;
                height: 43px;
            }
            .price{
                text-align: center;
                color:$red;
                .del{
                    position:relative;
                    z-index: -1;
                    color: $red;
                    opacity: .5;
                    margin-left: 10px;
                }
            }
            .button{
                border:1px solid $pal-green;
                font-size: 13px;
                color:$pal-green;
                width: 150px;
                border-radius: 3px;
                background-color: $white;
            }
            .button:hover{
                background-color: $pal-green;
                color: $white;
            }
        }
    }

    .card_body:hover{
        .wish{
            display: block;
        }
    }
}
.custom_card:hover{
    box-shadow: 1px 1px 2px $skyblue,
    inset 1px 1px 2px $skyblue;
}
.border_green{
    border: 1px solid $pal-ash;
}

.modal{
    .modal-title{
        width: 90%;
        h6{
            text-align: center;
        }
    }

    .body{
        display: flex;
        justify-content: space-around;
        figure{
            img{
                max-width: 170px;
                max-height: 170px;
            }
        }
        .main-content{
            .product-name{
                margin-bottom: 10px;
            }
            .price{
                display: flex;
                p{
                    margin-left: 15px;
                    font-weight: 600;
                    margin-bottom: 6px;
                    &:first-child{
                        margin-left: 0;
                    }
                }

            }
            .sizes{

            }
            .add-to-cart{
                margin-top: 10px;
            }
        }
    }

    .modal-footer{
        div{
            display: flex;
            justify-content: space-between;
            width:100%;

            .reddish_btn{
                border: 1px solid $delete;
                color:$delete;
            }
            .reddish_btn:hover{
                background-color: $delete;
                color: $white;
            }
        }
    }
}
