@import "../../../scss/variable.scss";

.main_box{
        // position: relative;
        // margin-top: 10px;
        overflow: hidden;
        // position: relative;
    .banner{
        height: 80px;
        // width: 100%;
        background-image: linear-gradient(to right,$pal-ash,$pal-green);
    }
    .search_bar{
        position: relative;
        padding:5px;
        padding-left: 0px;
        // animation: slideBlock 200ms;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        .search{
            z-index: 1010;
            display: flex;
            justify-content: center;
            // position: sticky;
            input {
                    border-radius: 15px;
                    width: 50%;
                    padding: 2px 15px;
                    border: 1px solid $pal-green;
                    background-color: $white;
                    color: $black;
                }
            
                input:focus {
                    outline: 2px solid $pal-ash;
                }
            
                .src_btn {
                    // transition: .1s;
                    padding: 2px 25px;
                    cursor: pointer;
                    color: $black;
                    font-size: 20px;
                    border-radius: 18px;
                    background-color: $pal-green;
                    margin-left: 5px;
                    border: 1px solid $pal-ash;
                    // background-color: $light;
                    z-index: 10;
                }
            
                .src_btn:hover {
                    padding: 0px 23px;
                    color: $white;
                    border: 3px solid $pal-ash;
                }
            
                .drop_down {
                    background-color: $pal-ash;
                    padding: 4px 40px;
                    border-radius: 20px;
                    margin-left: 10px;
                    cursor: pointer;
                }
        }
        .keyword{
            display: flex;
            flex-wrap: wrap;
            background-color: $pal-ash;
            margin-top: 5px;
            justify-content: center;
            p{
                padding:5px;
                background-color: $pal-green;
                border-radius: 15px;
                font-weight: 300;
                font-size: 13px;
                color: $white;
                margin: 5px;
            }
        }
    }
    .search_bar.hidden{
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }
    .icons{
        display: none;
        font-size: 30px;
        // display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .icon{
            background-color: $pal-green;
            box-shadow: -1px -1px 3px $pal-ash,
            inset -1px -1px 3px $pal-ash;
            margin: 0px 3px 0 3px;
            padding: 6px;
            border-radius: 3px;
            color: $white;
        }
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
    .card_carousel{
        
        
        .popular{
            
        }
    }
}

@media only screen and (max-width: 1200px) and (min-width:900px){
    .main_box{
        .cards{
            grid-template-columns: repeat(4,1fr);
        }
    }
}
@media only screen and (max-width: 900px) and (min-width:600px){
    .main_box{
        .cards{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

@media only screen and (max-width: 600px) {
    .main_box{
        .search_bar{
            margin-left: 0px;
            width: 100%;
            .keyword{

            }
        }
        .icons {
            font-size: 25px;
        }
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
}