
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bebas+Neue&family=Croissant+One&family=Dela+Gothic+One&family=Fuggles&family=Great+Vibes&family=Lobster&family=Martian+Mono:wght@400;600;700&family=Mooli&family=Oswald:wght@400;600;700&family=Pacifico&family=Permanent+Marker&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Russo+One&family=Sacramento&family=Skranji&family=Tangerine:wght@400;700&family=Tilt+Prism&family=Tourney:ital,wght@0,100;0,300;0,400;1,100;1,200;1,300;1,400&family=Wavefont:wght@400;500&family=Yeseva+One&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  /* font-family: 'Raleway', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
