/* 
@font-face {
  font-family: 'myfont';
  src: url('./assets/Font/TTTravels-ExtraBold.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'myfont';
  src: url('./assets/Font/TTTravels-ExtraBoldItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'myfont';
  src: url('./assets/Font/TTTravels-Light.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'myfont';
  src: url('./assets/Font/TTTravels-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'myfont';
  src: url('./assets/Font/TTTravels-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
} */
body {
  margin: 0;
  font-family: 'myfont',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .dark-theme{
  --bg-color:#141414;
  --color:rgb(77, 158, 158);
}
.light-theme{
  --bg-color:rgb(77, 158, 158);
  --color:#141414;
}

p{
  background-color: var(--bg-color);
  color: var(--color) ;
} */