@import './variable.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
// .black{
//     color: $btn_color;
// }
body{
    // background-color: $white;
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Source Sans 3", serif;
}

a{
    text-decoration: none !important;

}

.navbar_link{
    margin:0 10px;
    color: #333;
}
.container-custom{
    max-width: 1400px;
}