@import './variable.scss';


// .black{
//     color: $btn_color;
// }
body{
    background-color: $white;
}
.fixed-cart{
    position: fixed;
    background-color: $pal-green;
    height: 40px;
    padding: 17px 3px 0 17px;
    text-align: center;
    border-radius: 3px;
    top:50%;
    right:0;
    z-index: 10;
}
a{
    text-decoration: none;
}

.offcanvas-start{
    max-width: 60%;
}
.offcanvas-body{
    max-width: 100%;
}
.bg_green{
    background-color: $pal-green;
}
.bg_ash{
    background-color: $pal-ash;
}
.bg_lightRed{
    background-color: $lightRed;
}
.bg_skyblue{
    background-color: $skyblue;
}
.bg_red{
    background-color: $primary;
}
.bg_black{
    background-color: $black;
    color: $white !important;
}

.op_0{
    transition: opacity 200ms, display 200ms;
    display: none !important;
    opacity: 0;
}
.top_0{
    
}
.top_20{
    top: 20;
}
.p_sticky0{
    position: fixed;
    width:80%;
    background-color: $pal-ash;
    top: 0;
    padding:3px 0;
    // right: 0;
}
.p_sticky40{
    position: fixed;
    width:80%;
    background-color: $pal-ash;
    top: 41px;
    padding-top: 2px;
    // right: 0;
}

figure{
    padding:0;
    margin:0
}
.m_r_10px{
    margin-right: 10px;
}

.button {
    border: 1px solid $pal-green;
    color: $pal-green;
    border-radius: 3px;
}

.button:hover {
    background-color: $pal-green;
    color: $white;
}

.pal-green{
    color:$pal-green;
}

// .m_r_10px:last-child{
//     margin-right: 0px;
// }

.animate{
    animation: slideBlock 200ms;
}

@keyframes slideaway {
    from {
        display: block;
        transform: translateY(0px);
    }

    to {
        transform: translateY(-40px);
        opacity: 0;
    }
}
@keyframes slideBlock {
    from {
        display: none;
        transform: translateY(-40px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
        display: block;
    }
}


//function to use multiple times

@mixin textgradient($color1,$color2){
    background: -webkit-linear-gradient($color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 767px){
    .p_sticky0{
        width:100%;
    }
    .p_sticky40{
        width: 100%;
    }
}