.dark-theme {
    --bg-color: #191E2B;
    --white:#262A2B;
    --black:#E8E6E3;
   
}

.light-theme {
    --black: #262A2B;
    // --white: #E8E6E3;
    --white: #ffffff;
    --th-green:#00FD00;
    --th-skyblue:#00FDFF;
    --th-secondary:#5900ff;
    --th-blue:#0033FF;
    --th-primary:#2787c7;
    --th-light-red:#FFE964;
    
    // --th-light-red:#D20055;
    --th-red:#D20055;
    --light:#4d3b3b;
    // --palete-green:#66FF99;
    --palete-green:#00A788;
    --palete-skyblue:#6EE8CC;
    // --palete-ash:#E8E6E3;
     --palete-ash:#99FFFF;
     --palete-ash-op:#99ffff36;
     --palete-yellow-op:#f1dc60;
     --palete-yellow-text:#f57224;
}



$bg-color1:var(--bg-color);
$black:var(--black);
$white:var(--white);
$green:var(--th-green);
$skyblue:var(--th-skyblue);
$blue:var(--th-blue);
$red:var(--th-red);
$lightRed:var(--th-light-red);
$primary:var(--th-primary);
$secondary:var(--th-secondary);
$light:var(--light);
$pal-green:var(--palete-green);
$pal-skyblue:var(--palete-skyblue);
$pal-ash:var(--palete-ash);
$pal-ash-op:var(--palete-ash);
$pal-trans-yellow:var(--palete-yellow-op);
$yellow-text:var(--palete-yellow-text);
$facebook_color:#0D8FF2;
$linkedin_color:#0965C1;
$twitter:#229CEE;










// $light_colors:(
//     base:#fff,
//     bg-color:rgb(77, 158, 158),
//     color: #141414
// );
// $dark_colors:(
//     base:#fff,
//     bg-color:#141414,
//     color: rgb(77, 158, 158)
// );

// :root{
//     @each $name, $color in $light_colors{
//         --color-#{$name} : #{$color};
//     }
//     --theme:'light'
// }
// @media (prefers-color-scheme:dark){
//     :root{
//         @each $name, $color in $dark_colors{
//             --color-#{$name} : #{$color};
//         }
//         --theme:'dark'
//     }
// }

// @function getColor($color-name){
//     @return var(--color-#{$color-name})
// }
