@import '../../scss/variable.scss';

.cart{
    width: 100%;
    position: relative;
    
    .cart-product{
        padding: 5px;
        margin:10px 0;
        
        .body{
            display: flex;
            justify-content: space-between;
            font-size: 14px;

            .data{
                p{
                    margin: 0px;
                    font-weight: 300;
                    // display: flex;
                    // justify-content: space-evenly;
                    a{
                        text-decoration: none;
                        color:$pal-green;
                    }
                    del{
                        margin-right: 10px;
                    }
                }
                .high-light{
                    font-weight: 400;
                    margin-right: 10px;
                    font-size: 15px;
                }
            }
            figure{
                width: 130px;
                height: 130px;

                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            // margin-top: 10px;
            font-size: 14px;
            font-weight: 500;

            svg{
                color:$delete;
            }
        }
    }
    .cart-product:last-child{
        margin-bottom: 25px;
    }
    .place-order{
        background-color: $pal-green;
        position: fixed;
        padding: 8px;
        width: 100%;
        bottom: 0;
        font-weight: 600;
        
        p{
            display: inline-block;
            margin-bottom: 0;
        }
        .button{
            margin-left: 50px;
            border: 1px solid $white;
            color: $white;
            background-color: $pal-green;
            a{
                color: $white;
                text-decoration: none;
                font-weight: 400;
                font-size: 15px;
                padding: 3px 8px;
            }
            a:hover {
                color: $black;
                // background-color: $pal-ash;
            }
        }
        .button:hover{
            border: 1px solid $light;
        }
        
    }
}